@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;subset=vietnamese");

.input-changpass {
    width: 332px !important;
    position: relative;
    height: 45px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 450;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    min-width: 150px;
    opacity: .65;
}


.title-changepass {
    width: 100%;
    height: 24px;
    mix-blend-mode: undefined;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 550;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin: 21px 0 21px 0;
    color: #333333;
    padding-left: 24px;
}

.title-input {
    width: 260px;
    text-align: right;
    padding-right: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 450;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    vertical-align: middle;
    line-height: 45px;
    color: #333333;
    height: 17px;

}

.btn-changepass {
    width: 332px;
    margin-left: 245px;
}

.form-changepass {
    margin-left: 35px;
}

@media only screen and (max-width: 768px) {
    .title-input {
        width: 120%;
        text-align: left;
        height: 40px;
    }

    .title-changepass {
        margin-left: -15px;
    }

    .btn-changepass {
        margin-left: -15px;

    }

}
